# Server Configuration
PORT=3000

# MongoDB Configuration
# For local development, you can use MongoDB Atlas free tier
# Get your connection string from: https://cloud.mongodb.com
MONGODB_URI=mongodb+srv://bennurjeevan_db_user:GEceam5CCGta11Ji@student-course-system.w2vnnuy.mongodb.net/?appName=student-course-system
# For MongoDB Atlas (recommended for production):
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/course-registration?retryWrites=true&w=majority

# Node Environment
NODE_ENV=development
